<div class="aside-section-for-links">
    <div class="quick-links-heading">
        Quick Links
    </div>
    <div class="quick-links">
        <a href="">
            <i class="fas fa-store"></i>&nbsp;Online Store
        </a> <br>
        <a href="/users/live-updates">
            <i class="fas fa-satellite-dish"></i>&nbsp;Live Updates
        </a><br>
        <a href="/users/vac-center">
            <i class="fas fa-capsules"></i>&nbsp;Vac. Centers
        </a><br>
        <a href="/users/show-map">
            <i class="fas fa-globe-americas"></i>&nbsp;Global Tracker
        </a><br>
        <a href="/users/show-news">
            <i class="fas fa-newspaper"></i>&nbsp;Live News
        </a><br>
        <a href="/users/about-us">
            <i class="fas fa-info"></i>&nbsp; About Us
        </a><br>
    </div>
</div>
<div class="social-media-links">

</div>