<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | CloudConnect</title>
    <link rel="shorcut icon" type="image/x-icon" href="../images/fevion.png">
    <script src="https://kit.fontawesome.com/22406f9d4d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/user.css"> 
    <link rel="stylesheet" type="text/css" href="/css/user-home.css"> 
    <link rel="stylesheet" type="text/css" href="/css/user-live-updates.css"> 
    <link rel="stylesheet" type="text/css" href="/css/showAboutUs.css"> 
</head>
<body>
    <div class="header-for-user-profile">
        <a id="Web-logo" href="/users/home-page">
            <i class="fad fa-moon-cloud fa-4x" id="cloud-connect-logo" aria-hidden="true"></i>
            <p id="cloud-connect-name">Cloud Connect.</p>
        </a>
        <p>
            <a href="/users/home-page">
                CloudConnect
            </a>
        </p>
        <div>
            <a href="/users/sign-out" >
                <button class="sign-out-button">
                    <i class="fas fa-sign-out"></i> &nbsp; Sign-Out 
                </button>
            </a>
            <a href="/users/home-page" >
                <button class="goto-home-button">
                    <i class="fas fa-home"></i>&nbsp; Home 
                </button>
            </a>
        </div>
    </div>

    <%- include("asideSection")-%>

    <div class="about-section">

        <div class="about-description">
            This Website is a web-based system to purchase Covid essentials. 
            Website is developed to provide the advantage of online purchasing to customers. 
            It helps user to purchase Covid essentials anywhere through the internet. 
            Thus, the user will get the service of online shopping. 
            It will allow users to see live statistics of confirmed Covid Cases, 
            Deaths and number of people vaccinated. The user can select any state of India and 
            compare covid cases by region. It also helps users to read necessary information about 
            the Covid virus and its prevention. Users can see publicly available features such as 
            browse products, view details of products. In addition to this, they can purchase the 
            products by adding them to their shopping cart.  This website provides a very user-friendly 
            interface to every user. It also displays information about covid and how one can prevent it.
        </div>
        <div class="creator-card-section">
            <div class="description-card">
                <div class="creater-image">
                    <img src="/images/puru.png" height="100%" width="100%">
                </div>
                <div class="creater-name">
                    Puru Bhargava
                </div>
                <div class="creater-skills">
                    Full Stack Web Developer | C/C++ DS| Java | MySQL/NoSQL
                </div>
                <div class="creater-pd">
                    <i class="fas fa-phone-alt"></i> 7206117092<br>
                    <i class="fas fa-envelope"></i> purubhargava011@gmail.com<br>
                    <i class="fas fa-map-marker-alt"></i> #560,Friends Colony, Yamuna Nagar, Haryana.
                </div>
                <div class="social-links">
                    <a href=""><i class="fab fa-linkedin fa-2x" style="color: #003566;"></i></a>
                    <a href=""><i class="fab fa-instagram fa-2x" style="color: #c32aa3;"></i></a>
                    <a href=""><i class="fab fa-github-square fa-2x" style="color: #171515;" ></i></a>
                    <a href=""><i class="fab fa-snapchat-square fa-2x" style="color: #ffd60a;"></i></a>
                </div>
            </div>
            <div class="description-card">
                <div class="description-card">
                    <div class="creater-image">
                        <img src="/images/shikhar.jpg" height="100%" width="100%">
                    </div>
                    <div class="creater-name">
                        Shikhar Gupta
                    </div>
                    <div class="creater-skills">
                        Full Stack Web Developer | C/C++ DS| Java | MySQL/NoSQL
                    </div>
                    <div class="creater-pd">
                        <i class="fas fa-phone-alt"></i> 9058207749<br>
                        <i class="fas fa-envelope"></i> guptashikhar321@gmail.com<br>
                        <i class="fas fa-map-marker-alt"></i> #1/184, Ram Ganga Vihar Phase-1, Moradabad, UP.
                    </div>
                    <div class="social-links">
                        <a href=""><i class="fab fa-linkedin fa-2x" style="color: #003566;"></i></a>
                        <a href=""><i class="fab fa-instagram fa-2x" style="color: #c32aa3;"></i></a>
                        <a href=""><i class="fab fa-github-square fa-2x" style="color: #171515;" ></i></a>
                        <a href=""><i class="fab fa-snapchat-square fa-2x" style="color: #ffd60a;"></i></a>
                    </div>
                </div>
            </div>
            <div class="description-card">
                <div class="description-card">
                    <div class="creater-image">
                        <img src="/images/rahul.png" height="100%" width="100%">
                    </div>
                    <div class="creater-name">
                        Rahul 
                    </div>
                    <div class="creater-skills">
                        CSE UNDERGRAD | Python and C++ Programmer | Web Enthusiast
                    </div>
                    <div class="creater-pd">
                        <i class="fas fa-phone-alt"></i> 7029606230<br>
                        <i class="fas fa-envelope"></i> rahulslg20@gmail.com<br>
                        <i class="fas fa-map-marker-alt"></i> #560,Friends Colony, Yamuna Nagar, Haryana.
                    </div>
                    <div class="social-links">
                        <a href=""><i class="fab fa-linkedin fa-2x" style="color: #003566;"></i></a>
                        <a href=""><i class="fab fa-instagram fa-2x" style="color: #c32aa3;"></i></a>
                        <a href=""><i class="fab fa-github-square fa-2x" style="color: #171515;" ></i></a>
                        <a href=""><i class="fab fa-snapchat-square fa-2x" style="color: #ffd60a;"></i></a>
                    </div>
                </div>
            </div>
            <div class="description-card">
                <div class="description-card">
                    <div class="creater-image">
                        <img src="/images/subham.png" height="100%" width="100%">
                    </div>
                    <div class="creater-name">
                        Subham Dubey  
                    </div>
                    <div class="creater-skills">
                        CSE Undergrad | GWOC'21 | C++ Programmer | Web Enthusiast
                    </div>
                    <div class="creater-pd">
                        <i class="fas fa-phone-alt"></i> 9733006896<br>
                        <i class="fas fa-envelope"></i> subhamdubey1991@gmail.com<br>
                        <i class="fas fa-map-marker-alt"></i> #560,Friends Colony, Yamuna Nagar, Haryana.
                    </div>
                    <div class="social-links">
                        <a href=""><i class="fab fa-linkedin fa-2x" style="color: #003566;"></i></a>
                        <a href=""><i class="fab fa-instagram fa-2x" style="color: #c32aa3;"></i></a>
                        <a href=""><i class="fab fa-github-square fa-2x" style="color: #171515;" ></i></a>
                        <a href=""><i class="fab fa-snapchat-square fa-2x" style="color: #ffd60a;"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>