body {
  background-color: #6c757d;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px; }

a {
  text-decoration: none; }

.post-card {
  border-top: 0px;
  border-radius: 0px; }

.profile-pic-container {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid whitesmoke;
  margin-right: 10px; }

.user-profile-link {
  background-color: #003049;
  height: 80px;
  width: 76.75vw;
  display: flex;
  padding-left: 20px;
  box-sizing: border-box;
  border: 5px solid white;
  align-items: center;
  margin-bottom: -20px;
  border-radius: 20px 20px 0px 0px;
  font-size: 2rem; }
  .user-profile-link a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }

.post-card {
  margin-left: 0px; }

.comment-box {
  margin-left: 0px;
  width: 75.9vw; }

.modify-when-needed {
  margin-bottom: 20px; }

.comment-section {
  margin-left: 0px; }

.comment-button {
  width: 135px;
  left: 64.5vw; }

.post-buttons {
  width: 101%;
  left: -10px; }

.aside-section-for-links {
  height: 440px;
  width: 240px;
  background-color: #ffffff;
  position: fixed;
  top: 100px;
  right: 9px;
  border-radius: 20px;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; }

.quick-links-heading {
  height: 15%;
  width: 100%;
  position: relative;
  top: -7px;
  background-color: #003049;
  border-bottom: 5px solid white;
  color: white;
  font-family: monospace;
  font-weight: 900;
  font-size: 2.3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }

.quick-links {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .quick-links a {
    color: #00b4d8;
    cursor: pointer;
    font-family: monospace;
    font-weight: 900;
    font-size: 1.3rem; }
    .quick-links a:hover {
      color: #e9972d; }
